@charset "UTF-8";
/*couleurs*/
/*tailles de police ou d'icône*/
/* mixin*/
/*extensions*/
.button, section #explore1 .explore2, aside .choose, section .menu_card {
  -webkit-box-shadow: 0px 5px 10px #DCDCDC;
          box-shadow: 0px 5px 10px #DCDCDC;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 25px;
  border: 1px solid #F2F2F2;
}

.button:hover, section #explore1 .explore2:hover, aside .choose:hover, section .menu_card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-box-shadow: 20px 15px 2px 10px #DCDCDC;
          box-shadow: 20px 15px 2px 10px #DCDCDC;
}

/*loading spinner */
@-webkit-keyframes wait {
  0% {
    -webkit-transform: rotate 0deg, scale 0.8;
            transform: rotate 0deg, scale 0.8;
  }
  25% {
    -webkit-transform: rotate 90deg, scale 1;
            transform: rotate 90deg, scale 1;
  }
  50% {
    -webkit-transform: rotate 180deg, scale 1.2;
            transform: rotate 180deg, scale 1.2;
  }
  75% {
    -webkit-transform: rotate 270deg, scale 1;
            transform: rotate 270deg, scale 1;
  }
  100% {
    -webkit-transform: rotate 360deg, scale 0.8;
            transform: rotate 360deg, scale 0.8;
  }
}
@keyframes wait {
  0% {
    -webkit-transform: rotate 0deg, scale 0.8;
            transform: rotate 0deg, scale 0.8;
  }
  25% {
    -webkit-transform: rotate 90deg, scale 1;
            transform: rotate 90deg, scale 1;
  }
  50% {
    -webkit-transform: rotate 180deg, scale 1.2;
            transform: rotate 180deg, scale 1.2;
  }
  75% {
    -webkit-transform: rotate 270deg, scale 1;
            transform: rotate 270deg, scale 1;
  }
  100% {
    -webkit-transform: rotate 360deg, scale 0.8;
            transform: rotate 360deg, scale 0.8;
  }
}

/*Ma page d'accueil  hors en tête*/
/* mobile first*/
/*première section - réserver le menu*/
/* 
body {
      z-index: 0;
      .loading {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            position: fixed;
            top: 50%;
            left: 30%;            
            border: 15px solid $tertiary;
            border-top-color: $primary;
            border-bottom-color: $primary;
            border-left-color: $secondary;
            border-right-color: $secondary;
            border-radius: 50%;
            animation: wait 3000ms infinite alternate;
            z-index: 1;
      }
      .loading::before {
            background-color: $tertiary;
            opacity: 0.8;
            width: 100%;
            height: 100%;
      }
      @keyframes wait {
            0% {
                  transform: rotate (0deg), scale (0.8);
            }
            25% {
                  transform: rotate (90deg), scale (1);
            }
            50% {
                  transform: rotate (180deg), scale (1.2);
            }
            75% {
                  transform: rotate (270deg), scale (1);
            }
            100% {
                  transform: rotate (360deg), scale (0.8);
            }
      }
      
}*/
section {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: #F2F2F2;
  padding-bottom: 30px;
}

section .reserve {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

section .reserve #aroundme {
  width: 100%;
  background-color: #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  padding-right: 15px;
  padding-left: 15px;
}

section #city {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  border: none;
  background-color: #DCDCDC;
}

section #explore1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #explore1 .explore2 {
  width: 250px;
  height: 35px;
  background: linear-gradient(355deg, #9356DC 30%, #FF79DA 70%);
  color: #fff;
  padding-top: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

section #explore1 p {
  padding-right: 15px;
  padding-left: 15px;
}

/*Partie main, sous-partie aside et ensemble container_choice*/
aside {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

aside .borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 10px 25px;
}

@media screen and (min-width: 500px) {
  aside .borders {
    width: 35%;
    text-align: end;
  }
}

aside .container_choice {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

aside .choose {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  margin-bottom: 30px;
  position: relative;
}

aside .choose:hover {
  background-color: #e4d5f6;
}

aside .number {
  position: absolute;
  right: 95%;
}

aside .number p {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
  border: 1px solid #9356DC;
  border-radius: 50%;
}

aside .picture {
  width: 15%;
  font-size: 1em;
  text-align: right;
}

aside .picture:hover {
  color: #9356DC;
}

h3 {
  padding-left: 5%;
  font-weight: bold;
}

/* partie main section avec cards*/
/*section */
section .menu_card {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 390px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

section #img_home1, section #img_home2, section #img_home3, section #img_home4 {
  width: 100%;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

section .icon-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

section .card_legend {
  width: 75%;
}

section .card_legend h3, section .card_legend p {
  text-align: left;
  padding-left: 5%;
}

section .card_legend h3 {
  margin-bottom: 0;
}

section .card_legend p {
  margin-top: 0;
}

section .heart-icon {
  text-align: right;
  width: 50%;
  color: #000;
  font-size: 2em;
  padding-right: 15px;
}

/* et a la fin je remplis ce coeur*/
/* &:hover {
      

      }*/
/* encadré nouveau*/
section .menu_card .new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #32b091;
  border-radius: 5px;
  color: #32b091;
  background-color: #99E2D0;
  -webkit-box-shadow: 2px 2px 5px #909090;
          box-shadow: 2px 2px 5px #909090;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}

/*version tablette*/
@media screen and (min-width: 768px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 5px;
  }
  section .reserve {
    width: 550px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  section #aroundme, section #explore1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /*Partie main, sous-partie aside et ensemble container_choice*/
  aside .borders {
    width: 100%;
    text-align: center;
  }
  aside .container_choice {
    width: inherit;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside a {
    margin-right: 10%;
  }
  aside .choose {
    width: 40%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 20px;
  }
  /* partie main section avec cards*/
  main section {
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu_card {
    margin-left: 15px;
    margin-right: 15px;
  }
  #img_home1, #img_home2, #img_home3, #img_home4 {
    width: 390px;
  }
}

/* ma version desktop*/
@media screen and (min-width: 992px) {
  aside .container_choice {
    max-width: 1000px;
    /*align-content: center;*/
  }
  .choose {
    margin-bottom: 30px;
  }
}

/* en-têtes de pages*/
/*ma police d'écriture*/
header {
  margin: 0 auto;
}

.logo {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/*tailles de police ou d'icône*/
/*mes mixins*/
/*pieds de pages */
footer {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  text-align: start;
  padding: 25px;
}

h1 {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume {
  text-align: start;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f_icon {
  width: 5%;
  font-size: 1em;
  text-align: right;
}

.inform a {
  color: #fff;
}

.inform p {
  padding-left: inherit;
}

/*Ceci est ma page principale de style*/
body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */