@charset "UTF-8";
/*couleurs*/
/*tailles de police ou d'icône*/
/* mixin*/
/*extensions*/
.button, #explore1 .explore2, .choose, .menu_card {
  -webkit-box-shadow: 0px 5px 0px #DCDCDC;
          box-shadow: 0px 5px 0px #DCDCDC;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 25px;
  border: 1px solid #F2F2F2;
}

.button:hover, #explore1 .explore2:hover, .choose:hover, .menu_card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-box-shadow: 20px 15px 2px 0px #DCDCDC;
          box-shadow: 20px 15px 2px 0px #DCDCDC;
}

/*Ma page d'accueil  hors en tête*/
/* mobile first*/
/*première section - réserver le menu*/
section {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: #F2F2F2;
  padding-bottom: 30px;
}

.reserve {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
}

h2 {
  padding-right: 15px;
  padding-left: 15px;
}

#aroundme {
  width: 100%;
  background-color: #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-input-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

#city {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  border: none;
  background-color: #DCDCDC;
}

#explore1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#explore1 .explore2 {
  width: 250px;
  height: 35px;
  background: linear-gradient(355deg, #9356DC 30%, #FF79DA 70%);
  color: #fff;
  padding-top: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#explore1 p {
  padding-right: 15px;
  padding-left: 15px;
}

/*Partie main, sous-partie aside et ensemble container_choice*/
aside {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 10px 25px;
}

@media screen and (min-width: 500px) {
  .borders {
    width: 35%;
    text-align: end;
  }
}

.container_choice {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

.choose {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  margin-bottom: 30px;
  position: relative;
}

.choose:hover {
  background-color: #e4d5f6;
}

.number {
  position: absolute;
  right: 95%;
}

.number p {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
  border: 1px solid #9356DC;
  border-radius: 50%;
}

.picture {
  width: 15%;
  font-size: 1em;
  text-align: right;
}

.picture:hover {
  color: #9356DC;
}

h3 {
  padding-left: 5%;
  font-weight: bold;
}

/* partie main section avec cards*/
.menu_card {
  min-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 390px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#img_home {
  width: 100%;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.icon-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.card_legend {
  width: 75%;
}

.card_legend h3, .card_legend p {
  text-align: left;
  padding-left: 5%;
}

.heart-icon {
  text-align: right;
  width: 50%;
  color: #000;
  font-size: 2em;
  padding-right: 15px;
}

/*version tablette*/
@media screen and (min-width: 768px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 5px;
  }
  .reserve {
    width: 550px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #aroundme, #explore1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /*Partie main, sous-partie aside et ensemble container_choice*/
  .borders {
    width: 100%;
    text-align: center;
  }
  .container_choice {
    max-width: 895px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  a {
    margin-right: 10%;
  }
  .choose {
    width: 40%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 20px;
  }
  /* partie main section avec cards*/
  section {
    max-width: none;
  }
}

/* ma version desktop*/
@media screen and (min-width: 992px) {
  .container_choice {
    width: inherit;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .choose {
    margin-bottom: 30px;
  }
}

/* en-têtes de pages*/
/*ma police d'écriture*/
header {
  margin: 0 auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/*Ceci est ma page principale de style*/
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */